/HelloWorld/nbproject/private/
/HelloWorld/build/
/organized/nbproject/private/
/organized/build/
/organized/dist/
/Mathorder/nbproject/private/
/Mathorder/build/
/Typeconversion/nbproject/private/
/Typeconversion/build/
/SG1/Packages/nbproject/private/
/SG1/Constructor/nbproject/private/
/SG1/Constructor/build/
/SG1/Chick/nbproject/private/
/SG1/Chick/build/
/SG1/Chick2instance/nbproject/private/
/SG1/Chick2instance/build/