/HelloWorld/nbproject/private/
/HelloWorld/build/
/organized/nbproject/private/
/organized/build/
/organized/dist/
/Mathorder/nbproject/private/
/Mathorder/build/
/Typeconversion/nbproject/private/
/Typeconversion/build/