/SG1/Scope/nbproject/private/
/SG1/LetsGetLogical/nbproject/private/
/SG1/LetsGetLogical/build/
/SG1/CalcEngine/nbproject/private/
/SG1/CalcEngine/build/
/SG1/Factorial/nbproject/private/
/SG1/Factorial/build/
/SG1/FloatSum/nbproject/private/
/SG1/FloatSum/build/
/SG1/Flight/nbproject/private/
/SG1/Flight/build/